<header class="text-gray-600 body-font hidden md:block">
    <div class="containe flex flex-wrap p-8 flex-col md:flex-row justify-between items-center">
      <!-- <a class="flex title-font font-extrabold items-center text-gray-900 mb-4 md:mb-0">
        <span class="ml-3 text-3xl">Ankush</span>
      </a> -->
      <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-xl justify-center">
        <a class="mr-10 hover:text-violet-700 font-semibold cursor-pointer">Home</a>
        <a class="mr-10 hover:text-violet-700 font-semibold cursor-pointer">About</a>
        <a class="mr-10 hover:text-violet-700 font-semibold cursor-pointer">Tech Stack</a>
        <a class="mr-10 hover:text-violet-700 font-semibold cursor-pointer">Projects</a>
        <a title="Coming soon"  class="mr-10 text-gray-400 font-semibold">Blog</a>
      </nav>
      <button class="inline-flex items-center font-bold text-white bg-purple-700 py-2 px-4 hover:bg-transparent border-2 border-violet-700 hover:text-violet-700 rounded text-base mt-4">Let's Talk
      </button>
    </div>
  </header>

  <div class="block md:hidden">
    <div class="w-full p-4 flex justify-end">
      <div class="cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 50 50">
          <path d="M 0 7.5 L 0 12.5 L 50 12.5 L 50 7.5 Z M 0 22.5 L 0 27.5 L 50 27.5 L 50 22.5 Z M 0 37.5 L 0 42.5 L 50 42.5 L 50 37.5 Z"></path>
        </svg>
      </div>


      
    </div>
    
  </div>